<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Blaka+Hollow&amp;display=swap" rel="stylesheet">
    <title>Level 3 &middot; Sleuthscape</title>
</head>
<body class="level3">
<nav class="navbar navbar-expand-lg p-3">
    <div class="container justify-content-center"><span class="navbar-brand text-white mb-0 h1">SLEUTHSCAPE</span></div>
</nav>
<section>
    <div class="container">
        <div class="row justify-content-center my-5">
            <div class="col-md-9">
                <h2 class="mb-5">LEVEL 3 &middot; QUESTION 1</h2>
                <p class="fs-4">In a world that adds a Wilder futuristic cutting edge touch to the canvas Mike danced on, name the king who unleashed his Fury upon one of Karl Yunes’ creations.</p>
                <form class="my-5" action="/l3q1" method="post">
                    <div class="input-group mb-3 w-50"><input class="form-control border-0 rounded-0" type="text" placeholder="Enter the Answer" name="ans"><button class="btn btn-outline-light border-3 rounded-0 fs-6 fw-bold px-4" type="submit">Submit</button></div>
                </form>

                <button class="btn btn-danger rounded-0" type="button" data-bs-toggle="modal" data-bs-target="#hint1">Hint 1</button>
                <div class="modal fade text-dark" id="hint1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Hint 1</h1>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body"><p>The director also directed a film about the chaos in a rather organized space that displays its arts and artifacts with pride. The chaos at a time when the owls are most active and when evil powers are supposed to be the strongest.</p></div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-danger rounded-0 mx-3" type="button" data-bs-toggle="modal" data-bs-target="#hint2">Hint 2</button>
                <div class="modal fade text-dark" id="hint2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Hint 2</h1>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">This revered actor from down under, always agitated and ready to claw anybody’s attitude away , a showman who is closely associated with one eyed monster would lead you further .He asks of you to choose a unique path much like the one repping the maverick brand.</div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-danger rounded-0" type="button" data-bs-toggle="modal" data-bs-target="#hint3">Hint 3</button>
                <div class="modal fade text-dark" id="hint3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Hint 3</h1>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">This titan contributes to taking in beautiful movies and SCALING them to their full potential .His work adds another KEY element to making the following blockbusters what they are : The piece of art is written by brothers both held in high prestige since their inceptions for their achievements in the sci fi genre putting up a display of various movies transcending concepts such as space , time and consciousness. SCORES of artists have tried ,but none are as successful as this German maestro in setting the TONE of the movie. He adds a sense to these movies that allow one to enjoy them with their eyes shut improving the impact , all one has to do is listen intently.</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>